[Desktop Entry]
Version=1.0
Name=EVPN
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON=up firefox --class WebApp-EVPN4021 --profile ~/.local/share/ice/firefox/EVPN4021 --no-remote https://e.vpn.uprr.com/'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=network-vpn
Categories=GTK;Office;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-EVPN4021
StartupNotify=true
X-WebApp-URL=https://e.vpn.uprr.com/
X-WebApp-Isolated=true

