[Desktop Entry]
Encoding=UTF-8
Exec=upcon withSound
Icon=Union_Pacific
Type=Application
Terminal=false
Comment=Freerdp connection to UP
Name=UP (Mic/Sound)
GenericName=UP (Mic/Sound)
StartupNotify=false
Categories=Network;
